<%= render "shared/header" %>

<div class="wrapper">
  <div class="side-bar">

  </div>
    <div class="posts">


<h3 class="mypage-head"><%= "#{current_user.name}さんが投稿したもの"%></h3>
<% @posts.each do |post| %>
<div class="white">
  <% if user_signed_in? && current_user.id == post.user_id %>
        <table class="post-table">
            <tr>
            <th class="post-th"><h6 class="pink">タイトル</h6></th>
            <td class="post-td"><%= post.title %></td>
            </tr>
            <tr>
            <th class="post-th"><h6 class="pink">説明</h6></th>
            <td class="post-td"><%= post.text %></td>
            </tr>
        <tr>
  <div>
      <th class="post-th"><h6 class="pink">詳細</h6></th>
      <td class="post-td"><%= link_to '詳細', post_path(post.id), method: :get, class: "btn btn-success" %>
    
      <%= link_to "投稿の編集", edit_post_path(post.id), method: :get, class: "btn btn-warning" %>
      <%= link_to "投稿の削除", post_path(post.id), method: :delete, class: "btn btn-danger", data: { confirm: '本当に削除してもよろしいですか？' } %></td>
    <% end %>
  </div>
  </tr>
  </table>
  <br>
  <% end %>

<div class="text-center">
  <%=link_to 'ページ上部へ', user_path(current_user.id), class: "btn btn-secondary btn-block" %>
</div><br>
</div></div></div></div>

  </div>
</div>
<%= render "shared/footer" %>