<%= render "shared/header" %>

<div class="wrapper">
  <div class="col-sm-3 mx-auto">
    <%= render "shared/like"%>
  </div>
    <div class="posts">


<h3 class="mypage-head"><%= "#{current_user.name}さんが投稿したもの"%></h3>
  <%= paginate @posts, theme: 'twitter-bootstrap-4' %>
<% @posts.each do |post| %>
<div class="white">
  <% if user_signed_in? && current_user.id == post.user_id %>
        いいね<%= image_tag "/images/heart_shiny.png", class:"like-pict" %>(<%= post.liked_users.count %>)
        <table class="post-table">
            <tr>
            <th class="post-th"><h6 class="pink">タイトル</h6></th>
            <td class="post-td"><%= post.title %></td>
            </tr>
            <tr>
            <th class="post-th"><h6 class="pink">説明</h6></th>
            <td class="post-td"><%= post.text %></td>
            </tr>
        <tr>
  <div>
      <th class="post-th"><h6 class="pink">詳細</h6></th>
      <td class="post-td"><%= link_to '詳細', post_path(post.id), method: :get, class: "btn btn-success" %>
    
      <%= link_to "投稿の編集", edit_post_path(post.id), method: :get, class: "btn btn-warning" %>
      <%= link_to "投稿の削除", post_path(post.id), method: :delete, class: "btn btn-danger", data: { confirm: '本当に削除してもよろしいですか？' } %></td>
    <% end %>
  </div>
  </tr>
<div class="test">
  </table>
  <br>
  </div>
  <% end %>

  <%= paginate @posts, theme: 'twitter-bootstrap-4' %>
  

  </div>
</div>
<%= render "shared/footer" %>